/* Write your CSS here */
.bgContainer {
  background-color: #000000;
  min-height: 80vh;
  min-width: 80vw;
}
.c1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
